@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(0, 169, 110) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(75%) sepia(79%) saturate(2476%) hue-rotate(88deg)
    brightness(118%) contrast(119%);
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: #00a96e;
  color: white;
}

.input:has(> input[disabled]),
.input-disabled,
.input:disabled,
.input[disabled] {
  background-color: rgb(104, 129, 118);
}

.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  background-color: rgb(119, 146, 134);
  cursor: not-allowed important!;
}
